<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsxF2A9zSe0vTi2VBS-ynRUP62J7SlU2o</string>
	<key>GCM_SENDER_ID</key>
	<string>835052330079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.guanjia</string>
	<key>PROJECT_ID</key>
	<string>guanjia-a0017</string>
	<key>STORAGE_BUCKET</key>
	<string>guanjia-a0017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835052330079:ios:2fdb878a487679d0780fea</string>
</dict>
</plist>